* {
    background-color: slategray;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #292524;
}

h1 {
    text-align: center;
    font-size: 64px;
    padding-bottom: 25px;
    color: white;
    background-color: #292524;
}
p {
    font-weight: bolder;
    font-size: bold;
    padding: 25px;
    margin: 25px;
    border-radius: 12px;
    background-color: #292524;
    color: white;
}

img {
    width: 35%;
    height: 25%;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    background-color: #f97316;
}

li {
    font-size: 32px;
    font-weight: bold;
    background-color: #f97316;
}